.card {
  width: 14rem;
  height: 20rem;
  margin: 1rem;
  overflow: hidden;
  background: $SecundaryColor;
  display: flex;
  color: $softBackgound;
  border-radius: 5px;
  box-shadow: 1px 3px 8px lightgray;
  font-size: 1.5rem;
  flex-direction: column;
  background-size: cover;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.2s;

  &:hover {
    transform: scale(1.07);
    color: $WhiteText;
    border: 0.5px solid $WhiteText;
    box-shadow: 1px 3px 16px lightgray;
  }
}

.cardSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95.5%;
  top: 0;
}
//the image style is defined in the component
