.snipets {
  display: flex;
  margin: 1rem;
  margin-top: 0rem;
  text-align: justify;
  img {
    width: 390px;
    margin-top: 0.3rem;
  }
  p {
    width: 24.5rem;
  }
  .snipet {
    width: 35%;
  }
}
