///PopUp panel for selecting the project name
#planerPopUp {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20.5rem;
  padding: 1.5rem;
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 35%;
  color: white;
  background: $SecundaryColor;
  border-radius: 15px;
  box-shadow: 3px 5px 16px lightgray;
  & h2 {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  }
  & form {
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 15px;
    & button {
      background: $Light;
      color: white;
      width: 100%;
      font-weight: 500;
      text-align: center;
      justify-content: center;
      padding: 0.8rem;
      margin-top: 1rem;
      border-radius: 8px;
      cursor: pointer;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
    }
    & input,
    select,
    label {
      display: block;
      width: 90%;
      padding: 0.8rem;
      font-weight: 300;
      border-radius: 8px;
    }
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

// .projectNameInput {
//   width: fit-content;
//   margin-left: 0.5rem;
//   color: $WhiteText;
//   background: $SecundaryColor;
//   cursor: pointer;
// }

//Modal panels containing the froms o add items to the project

.listContainer {
  background: $softBackgound;
  position: relative;
  display: flex;
  height: 91%;
  justify-content: center;
  & .actionButtons {
    display: flex;
    position: absolute;
    font-size: 1.1rem;
    bottom: 0.2rem;
    height: 4.5rem;
    width: 100%;
    & button {
      margin: 1rem;
    }
  }
  h2 {
    font-size: 1.3rem;
  }
  & table {
    /* cellspacing */
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    & th {
      font-weight: 300;
      padding: 0.2rem;
      color: white;
      background-color: $SecundaryColor;
    }
    & tr {
      border: 3px solid #f2f2f2;

      &:nth-child(odd) {
        background-color: #f2f2f2;
      }
    }
    & td {
      /* cellpadding */
      width: auto;
      padding: 0;
      font-weight: 400;
      width: fit-content;
      cursor: pointer;
    }
  }

  & form {
    padding: 0.5rem;
    border-radius: 15px;
    background: $SecundaryColor;
    color: white;
    & button {
      background: $Light;
      color: white;
      width: 100%;
      font-weight: 350;
      text-align: center;
      justify-content: center;
      padding: 0.8rem;
      margin-top: 1rem;
      border-radius: 8px;
      cursor: pointer;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
    }
    & input,
    select,
    label {
      display: block;
      margin: auto;
      padding: 0.5rem;
      border-radius: 8px;
    }
    & input {
      font-size: 1rem;
    }
  }

  & button {
    background: $SecundaryColor;
    color: white;
    width: 100%;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    padding: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  }
}

.FormList {
  margin: 1rem;
  padding: 0.5rem;
  height: fit-content;
  width: 100%;
  background: white;
  display: flex;
  color: $SecundaryColor;
  border-radius: 5px;
  box-shadow: 1px 3px 8px lightgray;
  flex-direction: column;
  justify-content: flex-start;
  transition: ease-in-out;
  transition-duration: 1s;
  font-weight: 520;
  position: relative;

  & input,
  select,
  label {
    display: block;
    width: 90%;
    padding: 0.4rem;
    font-weight: 300;
    border-radius: 8px;
  }
}

//transitions
.fader-appear,
.fader-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fader-appear-active,
.fader-enter.fader-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.fader-exit {
  opacity: 1;
}

.fader-exit.fader-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
