.actionbuttons2 {
  position: absolute;
  display: flex;
  right: 0.5rem;
  & .fa {
    color: lightgray;
    transition: color 200ms linear;
    &:hover {
      color: $WhiteText;
    }
  }
}

.dataBox {
  margin: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
  background: white;
  display: flex;
  color: $SecundaryColor;
  border-radius: 5px;
  box-shadow: 1px 3px 8px lightgray;
  flex-direction: column;
  background-size: cover;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.2s;
  font-weight: 520;
}

.projectPanels {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background: $softBackgound;
  margin: 0.5rem;
  height: 89%;

  & .metrics {
    grid-column: 1/3;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;

    & .roiPanel {
      grid-row: 1/2;
      grid-column: 1/2;
      display: flex;
      text-align: center;
    }
    & .equilibriumPanel {
      grid-column: 2/4;
      grid-row: 1/2;
      display: flex;
      text-align: center;
    }
    & .yearlyFlowPanel {
      grid-row: 4/5;
      grid-column: 1/4;
      justify-content: start;
    }
    & .monthlyFlowPanel {
      grid-row: 2/4;
      grid-column: 1/5;
      justify-content: start;
    }
  }
  & .assetsPanel {
    grid-column: 3/5;
    grid-row: 1/4;
    justify-content: start;
  }

  & .fixedCostPanel {
    grid-column: 5/7;
    grid-row: 1/4;
    justify-content: start;
  }
  & .unitsEquilibriumPanel {
    grid-column: 3/7;
    grid-row: 4/6;
    justify-content: start;
  }
}
