// Colors
$PrimaryColor: #0039e6;
$SecundaryColor: #5fa2db;
$Light: #b3c6ff;
$softBackgound: #e6ecff;
$WhiteText: #fff;
$Penumbrum: #212121;
$Shadow: #1a1a1a;
$BaseColor: #000000;

$gradient: linear-gradient(
  90deg,
  rgba(51, 102, 255, 0.8743872549019608) 2%,
  rgba(51, 102, 255, 0.5130427170868348) 100%
);
